<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-nav-wrap">
          <ul>
            <li><a [routerLink]="['signin']">Авторизация</a></li>
            <li><a >Регистрация</a></li>
            <li><a (click)="goToProducts()">Каталог</a></li>
            <li><a >Мои заказы</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-wrap">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo">
            <img [src]="logo" alt="logo">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="search">
            <input class="search__input" (input)="search($event)"
                   placeholder="Более 1000 товаров"
                   type="text">
            <button class="search__button"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-end">
          <course-cart></course-cart>
        </div>
      </div>
    </div>
  </div>
</header>
