<section class="main product-wrapper">
  <div class="container" *ngIf="product$ | async as product">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumbs">
          <li>Главная</li>
          <li>Обои</li>
          <li>Serpentino</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="head-wrapper">
        <h1>Serpentino</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="img-wrapper">
          <img [src]="product.src" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-properties">
          <div class="product-label">
            <img src="img/_label1.png" alt="">
          </div>
          <div class="information">
            <h4>Информация</h4>
            <ul>
              <li class="information__name">
                SERPENTINO
              </li>
              <li class="information__code">
                Артикул: <span>005</span>
              </li>
              <li class="information__collection">
                Коллекция: <span>Wallpapers</span>
              </li>
              <li class="information__availability">
                Наличие <span>Под заказ</span>
              </li>
              <li class="information__delivery">
                Доставка: <span>Бесплатно</span>
              </li>
              <li class="information__prices">
                Цена: <span>1500</span>
              </li>
            </ul>
            <button class="information__btn">Заказать</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 reviews">
        <h3>Описание</h3>
        <p>Семья Masureel начала производить обои и ткани в 1850 году в бельгийской долине живописного города Lus.</p>
        <p>Компания быстро овладевает высочайшим мастерством, используя уже накопившиеся знания о разных процессах обработки текстиля. Вторым ключом к успешному развитию компании Khroma стал креативный и бесконечно изобретательный подход к созданию материала</p>
        <p>В теперешнем времени фабрика имеет два производства, одно производит текстильные обои под брендом Guy Masureel премиум класса.</p>
        <p>Второе производит бельгийские обои KHROMA сугубо из экологически чистых материалов.</p>
      </div>
    </div>
    <div class="additional">
      <div class="head-wrapper">
        <h5>Дполонительные товары</h5>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="item">
            <div class="item__img">
              <img src="img/img1.jpg" alt="">
            </div>
            <div class="item__name">
              AGENA
            </div>
            <div class="item__code">
              Артикул: 115
            </div>
            <div class="item__collection">
              Коллекция SEVEN
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item">
            <div class="item__img">
              <img src="img/img1.jpg" alt="">
            </div>
            <div class="item__name">
              AGENA
            </div>
            <div class="item__code">
              Артикул: 115
            </div>
            <div class="item__collection">
              Коллекция SEVEN
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item">
            <div class="item__img">
              <img src="img/img1.jpg" alt="">
            </div>
            <div class="item__name">
              AGENA
            </div>
            <div class="item__code">
              Артикул: 115
            </div>
            <div class="item__collection">
              Коллекция SEVEN
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="item">
            <div class="item__img">
              <img src="img/img1.jpg" alt="">
            </div>
            <div class="item__name">
              AGENA
            </div>
            <div class="item__code">
              Артикул: 115
            </div>
            <div class="item__collection">
              Коллекция SEVEN
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="textContainer">
    <div class="container">
      <div class="row">
        <h3 class="textContainer__header">Интернет магазин отделки и декора интерьеров <span>GLUTS</span></h3>

        <p class="textContainer__paragraph">Мы рады приветствовать Вас на сайте компании «Глатс». У нас существует огромный ассортимент продукции
          для насыщения интерьера
          и выгодные условия для заказчиков, архитекторов и дизайнеров. Мы можем предложить Вашему вниманию
          все необходимое для создания
          изысканного, уникального интерьера: обои, текстиль, аксессуары, ковры, мебель и светильники и многие
          другие предметы интерьера. У нас
          Вы найдете эксклюзивные обои известных европейских и американских брендов: шелковые обои от Paul
          Mongomery, изысканные бумажные обои от Sanderson , Zoffany и Morris &Co, английские обои ручной
          работы от Fromental , высококачественные обои необычного дизайна PierreFrey ,
          инновационные обои Marburg</p>
      </div>
    </div>
  </div>
</section>
